#(project
   #(meta (
     #(name sdl2ex)
     #(description "SDL2 Examples in LFE")
     #(version "0.0.1")
     #(keywords ("LFE" "Lisp" "Examples" "Graphics" "Games" "SDL" "SDL2"))
     #(maintainers (
       (#(name "Duncan McGreggor") #(email "oubiwann@gmail.com"))))
     #(repos (
       #(github "lfex/sdl2-examples")))))))

#(logging (
   #(colored true)
   #(colors (#(timestamp (color green))
             #(process (color cyan))
             #(date (color green))
             #(time (color green))
             #(modfunc (color yellow))
             #(message (color green))
             #(debug (color greenb))
             #(info (color blue))
             #(notice (color cyan))
             #(warning (color yellow))
             #(error (color red))
             #(critical (color yellowb))
             #(alert (color magentab))
             #(emergency (color redb))))
   #(backend lager)
   #(options (#(lager_console_backend (
                error
                #(logjam-formatter
                  (date " " time " [" pid "] [" severity "] " message "\n"))))))))
